**CausalML Dataset Creation**
Will only include if I'm able to complete the test

In [1]:
import pandas as pd

In [2]:
allvisits = pd.read_csv('/Users/aoluwolerotimi/Datasets/train_dejsonified.csv')

/var/folders/z1/1zds15w97_g7_fhs4_83dc3m0000gn/T/ipykernel_72261/3435477910.py:1: DtypeWarning: Columns (2,54) have mixed types. Specify dtype option on import or set low_memory=False.
  allvisits = pd.read_csv('/Users/aoluwolerotimi/Datasets/train_dejsonified.csv')

In [6]:
allvisits.head()

,channelGrouping,date,fullVisitorId,sessionId,socialEngagementType,visitId,visitNumber,visitStartTime,continent,subContinent,...,adwordsClickInfo.criteriaParameters,isTrueDirect,referralPath,adwordsClickInfo.page,adwordsClickInfo.slot,adwordsClickInfo.gclId,adwordsClickInfo.adNetworkType,adwordsClickInfo.isVideoAd,adContent,campaignCode
0,Organic Search,2016-09-02,1131660440785968503,1131660440785968503_1472830385,Not Socially Engaged,1472830385,1,1472830385,Asia,Western Asia,...,not available in demo dataset,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Organic Search,2016-09-02,377306020877927890,377306020877927890_1472880147,Not Socially Engaged,1472880147,1,1472880147,Oceania,Australasia,...,not available in demo dataset,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Organic Search,2016-09-02,3895546263509774583,3895546263509774583_1472865386,Not Socially Engaged,1472865386,1,1472865386,Europe,Southern Europe,...,not available in demo dataset,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Organic Search,2016-09-02,4763447161404445595,4763447161404445595_1472881213,Not Socially Engaged,1472881213,1,1472881213,Asia,Southeast Asia,...,not available in demo dataset,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Organic Search,2016-09-02,27294437909732085,27294437909732085_1472822600,Not Socially Engaged,1472822600,2,1472822600,Europe,Northern Europe,...,not available in demo dataset,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
allvisits['date'] = pd.to_datetime(allvisits['date'], format="%Y%m%d")

In [7]:
# copy record with the earliest date for fullVisitorId into a new dataframe
firstvisits = allvisits.loc[allvisits.groupby('fullVisitorId')['date'].idxmin()]

In [9]:
allvisits.shape

(903653, 55)

In [8]:
firstvisits.shape

(723803, 55)

In [10]:
# from first visits, copy these columns into a new dataframe: visitorID, channelGrouping, continent, deviceCategory, pageviews, campaign
firstvisits2 = firstvisits[['fullVisitorId', 'channelGrouping', 'continent', 'deviceCategory', 'pageviews', 'campaign']]

In [14]:
# in allvisits, create a column called transaction, which is 1 if transactionRevenue is not null, and 0 if it is null
allvisits['transaction'] = allvisits['transactionRevenue'].notnull().astype(int)

In [15]:
allvisits.head()

,channelGrouping,date,fullVisitorId,sessionId,socialEngagementType,visitId,visitNumber,visitStartTime,continent,subContinent,...,isTrueDirect,referralPath,adwordsClickInfo.page,adwordsClickInfo.slot,adwordsClickInfo.gclId,adwordsClickInfo.adNetworkType,adwordsClickInfo.isVideoAd,adContent,campaignCode,transaction
0,Organic Search,2016-09-02,1131660440785968503,1131660440785968503_1472830385,Not Socially Engaged,1472830385,1,1472830385,Asia,Western Asia,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,Organic Search,2016-09-02,377306020877927890,377306020877927890_1472880147,Not Socially Engaged,1472880147,1,1472880147,Oceania,Australasia,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,Organic Search,2016-09-02,3895546263509774583,3895546263509774583_1472865386,Not Socially Engaged,1472865386,1,1472865386,Europe,Southern Europe,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,Organic Search,2016-09-02,4763447161404445595,4763447161404445595_1472881213,Not Socially Engaged,1472881213,1,1472881213,Asia,Southeast Asia,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,Organic Search,2016-09-02,27294437909732085,27294437909732085_1472822600,Not Socially Engaged,1472822600,2,1472822600,Europe,Northern Europe,...,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [22]:
# Calculate the sum of transactions for each fullVisitorID in allvisits
transactions_per_user = allvisits.groupby('fullVisitorId')['transaction'].sum()

# Map this sum to the corresponding fullVisitorID in firstvisits2
firstvisits2['transactions'] = firstvisits2['fullVisitorId'].map(transactions_per_user)

/var/folders/z1/1zds15w97_g7_fhs4_83dc3m0000gn/T/ipykernel_72261/691077938.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  firstvisits2['transactions'] = firstvisits2['fullVisitorId'].map(transactions_per_user)

In [23]:
firstvisits2.head()

,fullVisitorId,channelGrouping,continent,deviceCategory,pageviews,campaign,transactions
482998,4823595352351,Organic Search,Asia,desktop,1.0,(not set),0
211023,5103959234087,Organic Search,Americas,mobile,8.0,(not set),0
230774,10278554503158,Organic Search,Oceania,desktop,8.0,(not set),0
89784,20424342248747,Organic Search,Americas,desktop,13.0,(not set),0
428073,26722803385797,Organic Search,Europe,desktop,2.0,(not set),0

In [13]:
# get unique values in transactions column
firstvisits2['transactions'].unique()

array([nan])

In [26]:
# transform campaign column so that it contains a 0 if the value is (not set), and 1 otherwise
firstvisits2['campaign'] = (firstvisits2['campaign'] != '(not set)').astype(int)

/var/folders/z1/1zds15w97_g7_fhs4_83dc3m0000gn/T/ipykernel_72261/508874631.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  firstvisits2['campaign'] = (firstvisits2['campaign'] != '(not set)').astype(int)

In [27]:
firstvisits2.head()

,fullVisitorId,channelGrouping,continent,deviceCategory,pageviews,campaign,transactions
482998,4823595352351,Organic Search,Asia,desktop,1.0,0,0
211023,5103959234087,Organic Search,Americas,mobile,8.0,0,0
230774,10278554503158,Organic Search,Oceania,desktop,8.0,0,0
89784,20424342248747,Organic Search,Americas,desktop,13.0,0,0
428073,26722803385797,Organic Search,Europe,desktop,2.0,0,0

In [28]:
firstvisits2.dtypes

fullVisitorId       object
channelGrouping     object
continent           object
deviceCategory      object
pageviews          float64
campaign             int64
transactions         int64
dtype: object

In [29]:
# get dummies for channelGrouping, continent, and deviceCategory
firstvisits2 = pd.get_dummies(firstvisits2, columns=['channelGrouping', 'continent', 'deviceCategory'])

In [30]:
firstvisits2.head()

,fullVisitorId,pageviews,campaign,transactions,channelGrouping_(Other),channelGrouping_Affiliates,channelGrouping_Direct,channelGrouping_Display,channelGrouping_Organic Search,channelGrouping_Paid Search,...,channelGrouping_Social,continent_(not set),continent_Africa,continent_Americas,continent_Asia,continent_Europe,continent_Oceania,deviceCategory_desktop,deviceCategory_mobile,deviceCategory_tablet
482998,4823595352351,1.0,0,0,0,0,0,0,1,0,...,0,0,0,0,1,0,0,1,0,0
211023,5103959234087,8.0,0,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,1,0
230774,10278554503158,8.0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,1,0,0
89784,20424342248747,13.0,0,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,1,0,0
428073,26722803385797,2.0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,1,0,0

In [31]:
# check how many records for continent not set
firstvisits2['continent_(not set)'].sum()

1335

In [32]:
# check how many records with continent not set and transactions > 0
firstvisits2.loc[(firstvisits2['continent_(not set)'] == 1) & (firstvisits2['transactions'] > 0)]

,fullVisitorId,pageviews,campaign,transactions,channelGrouping_(Other),channelGrouping_Affiliates,channelGrouping_Direct,channelGrouping_Display,channelGrouping_Organic Search,channelGrouping_Paid Search,...,channelGrouping_Social,continent_(not set),continent_Africa,continent_Americas,continent_Asia,continent_Europe,continent_Oceania,deviceCategory_desktop,deviceCategory_mobile,deviceCategory_tablet
455814,3033027578792702692,12.0,0,1,0,0,1,0,0,0,...,0,1,0,0,0,0,0,1,0,0
854800,3514808551180416782,53.0,0,2,0,0,0,0,1,0,...,0,1,0,0,0,0,0,1,0,0
286265,7745913892709272663,12.0,0,2,0,0,0,0,1,0,...,0,1,0,0,0,0,0,1,0,0
833966,8699673475078836442,40.0,0,1,0,0,0,0,1,0,...,0,1,0,0,0,0,0,1,0,0

In [33]:
# rename continent_(not set) column to continent_unknown
firstvisits2.rename(columns={'continent_(not set)': 'continent_unknown'}, inplace=True)